swagger: '2.0'
info:
  description: Swagger Spec for the Nuapay TPP OpenBanking/PSD2. Provides PISP
    and Banks Endpoints
  version: '1.14.4'
  title: Nuapay TPP API Specification
  contact:
    name: Nuapay
    email: 'api.support@nuapay.com'
  license:
    name: 'Nuapay'
    url: 'https://sentenial.com'
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg'
host: 'api.nuapay.com'
basePath: /tpp
schemes: 
  - https
tags:
  - name: Bank Service
    description: |-
      Bank endpoints allow a merchant to,
      - Retrieve a list of banks that support the Open Banking scheme
      - View details of a specific bank that supports the Open Banking scheme
  - name: PISP Service
    description: |-
      Payment initiation endpoints allow a merchant to,
      - Initiate payment requests in Open Banking
      - Retrieve the status of a previously initiated payment request
paths:
  /bankfamilies:
    get:
      tags:
        - Bank Service
      summary: View Bank Families
      description: Get list of Bank Families
      operationId: getBankFamiliesUsingGET
      produces:
        - application/json
      parameters:
        - name: pagenumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 1
          format: int32
        - name: pagesize
          in: query
          description: Page size
          required: false
          type: integer
          default: 20
          format: int32 
        - name: supportedcurrencies
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - EUR
              - GBP
          collectionFormat: multi
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaginatedListBankFamiliesResponseEnvelope'
          examples:
            application/json:
              uri: /bankFamilies
              data: 
                - id: 8ww64y0phx
                  uri: /bankFamilies/8ww64y0phx
                  name: Nuapay France
                  logo: https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg
                  supportedCurrencies:
                  - EUR
                - id: 1xf48y2zds
                  uri: /bankFamilies/1xf48y2zds
                  name: Nuapay UK
                  logo: https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg
                  supportedCurrencies:
                  - GBP      
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 2
                totalPages: 1
              sort: []             
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0001"
                description: Page  is invalid
                field: page          
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - PartnerApiKey: []
  /bankfamilies/{bankfamilyId}:
    get:
      tags:
        - Bank Service
      summary: View Bank Family
      description: View Bank Family Details
      operationId: getBankFamilyUsingGET
      produces:
        - application/json
      parameters:
        - name: bankfamilyId
          in: path
          description: Bank Family id returned by Get Bank Families endpoint.
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BankFamilyResponseEnvelope'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0001"
                description: Page  is invalid
                field: page          
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null          
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - PartnerApiKey: [] 
  /banks:
    get:
      tags:
        - Bank Service
      summary: Retrieve Banks
      description: Get Supported Banks On This TPP
      operationId: getBanksUsingGET
      produces:
        - application/json
      parameters:
        - name: country
          in: query
          required: false
          type: array
          description: CountryCode - ISO country code - indicates where bank is domiciled (ISO 3166 Alpha-2)
          items:
            type: string
          collectionFormat: multi
        - name: debtoraccountrequired
          in: query
          required: false
          type: boolean
          description: Allows to filter the banks that requires debtor account to be provided when initiating payment.
        - name: pagenumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 1
          format: int32
        - name: pagesize
          in: query
          description: Page size
          required: false
          type: integer
          default: 20
          format: int32 
        - name: supportedcurrencies
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - EUR
              - GBP
          collectionFormat: multi
        - name: bankfamilyid
          in: query
          description: Allows filtering by Bank Family via the Bank Family Id.
          required: false
          type: string
        - name: excludebankfamily
          in: query
          description: Allows filtering by Banks without an associated Bank Family.
          required: false
          type: boolean          
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BanksResponse'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0001"
                description: Page  is invalid
                field: page          
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - PartnerApiKey: []
  /banks/{bankId}:
    get:
      tags:
        - Bank Service
      summary: View Bank
      description: View Bank Details
      operationId: getBankUsingGET
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: Bank id returned by Get Supported Banks endpoint.
          required: true
          type: string
      responses:
        501:
          description: Not implemented
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - PartnerApiKey: []
  /payments:
    post:
      tags:
        - PISP Service
      summary: Create Payment
      description: Create a payment request POST endpoint
      operationId: createPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: paymentRequest
          description: Create a Payment Request
          required: true
          schema:
            $ref: '#/definitions/PaymentRequest'
        - name: Idempotency-Key
          in: header
          x-sentenial:
            enriched: "true"
          description: Every request will be processed only once per Idempotency-Key.  The Idempotency Key will be valid for 24 hours.
          required: false
          type: string
        - name: PSU-ID
          in: header
          description: Client ID of the PSU in the ASPSP client interface.
          required: false
          type: string
        - name: Customer-IP-Address
          in: header
          description: The PSU's IP address if the PSU is currently logged in with the TPP.
          required: false
          type: string
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/PaymentResponseEnvelope'
          examples:
            application/json:
              uri: /payments/re27gry2dw
              data: 
               id: re27gry2dw
               uri: /payments/re27gry2dw
               endToEndIdentification: endToEndIdentification123
               debtorAccount: 
                identification: 60161331926819
                name: null
                schemeName: SortCodeAccountNumber
                secondaryIdentification: null
              risk:
                paymentContextCode: Other
                merchantCategoryCode: null
                merchantCustomerIdentification: null
                deliveryAddress: null
              remittanceInformation:
                reference: reference123
                unstructured: null
              status: PENDING_APPROVAL
              amount: 99.99
              currency: GBP
              countryCode: GB
              language: en
              email: client@example.com
              orderDetails:
                items:
                  - name: Flights Outbound
                    description: Dublin(DUB) to London(LCY) - Adult Fare
                    quantity: 2
                    amount: 50
                  - name: Flights Return
                    description: Dublin(DUB) to London(LCY) - Adult Fare
                    quantity: 2
                    amount: 50
                  - name: Flights Return
                    description: Dublin(DUB) to London(LCY) - Adult Fare
                    quantity: 2
                    amount: 30
                  - name: Discounts
                    description: null
                    quantity: null
                    amount: -5
                  - name: Total
                    description: null
                    quantity: null
                    amount: 125
              integrationType: SELF_HOSTED
              merchantPostAuthUrl: https://merchant.openbanking.com/result
              bankId: lyboxy9bqp
              aspspAuthUrl: https://any-aspsp.com/openbanking/authorize?response_type=code+id_token&scope=openid+payments&client_id=377aaa6a-70bf-4e95-ac19-2bac5270bacd&redirect_uri=https%3A%2F%2Fapi.nuapay.com%2Ftpp%2Fpayment-requests%2Foauth&state=df78b5f6-12c0-4646-b47c-4362217acb0a&nonce=bea92693-19da-4609-858e-86c79e908a08&request=eyJraWQiOiI2QlJZamgtc0VRUTNmNWlzc0lxWU9WNGNXdVUiLCJ0eXAiOiJKV1QiLCJhbGciOiJQUzI1NiJ9.eyJpc3MiOiIzNzdhYWE2YS03MGJmLTRlOTUtYWMxOS0yYmFjNTI3MGJhY2QiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsIm5vbmNlIjoiYmVhOTI2OTMtMTlkYS00NjA5LTg1OGUtODZjNzllOTA4YTA4IiwiY2xpZW50X2lkIjoiMzc3YWFhNmEtNzBiZi00ZTk1LWFjMTktMmJhYzUyNzBiYWNkIiwibWF4X2FnZSI6ODY0MDAsImF1ZCI6Imh0dHBzOlwvXC9hdXRob3Jpc2UtYXBpLmxsb3lkc2JhbmsuY28udWtcL3Byb2QwMVwvY2hhbm5lbFwvbHlkcyIsInNjb3BlIjoib3BlbmlkIHBheW1lbnRzIiwiY2xhaW1zIjp7InVzZXJpbmZvIjp7Im9wZW5iYW5raW5nX2ludGVudF9pZCI6eyJ2YWx1ZSI6IjY0YWQ5NWEwLWUzMWYtNGNiOC04NjM3LTdjOGRmOTc3MTJmOSIsImVzc2VudGlhbCI6dHJ1ZX19LCJpZF90b2tlbiI6eyJvcGVuYmFua2luZ19pbnRlbnRfaWQiOnsidmFsdWUiOiI2NGFkOTVhMC1lMzFmLTRjYjgtODYzNy03YzhkZjk3NzEyZjkiLCJlc3NlbnRpYWwiOnRydWV9LCJhY3IiOnsiZXNzZW50aWFsIjp0cnVlLCJ2YWx1ZXMiOlsidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwidXJuOm9wZW5iYW5raW5nOnBzZDI6Y2EiXX19fSwicmVkaXJlY3RfdXJpIjoiaHR0cHM6XC9cL2FwaS5udWFwYXkuY29tXC90cHBcL3BheW1lbnQtcmVxdWVzdHNcL29hdXRoIiwic3RhdGUiOiJkZjc4YjVmNi0xMmMwLTQ2NDYtYjQ3Yy00MzYyMjE3YWNiMGEiLCJleHAiOjE1NzU0NTg3MTYsImlhdCI6MTU3NTQ1ODQxNiwianRpIjoiNDQyYmY4N2YtYzIxNC00NjgxLTk3ODYtZjIwZGM1YjIzOWYxIn0.IyeHKQQeU6x32CdUllkskLFWEjkJZKzvp8D4ZOwtlN3v32qmbh4hkGtwNilqZetqqq1ESB1InzfyAlb5S3GyZ_1pTV5UmFqsY60w4jIvSVQXmxKyCYIDrdgTvfa3IYOtA3vStpRpnHyXZfke7mBLGM0nn3YLEmujQ88T1kzq8v9rKTUKwgAE-NYLsYnXNg8dNlrl_lvXVou-J26keS5EaYMVSwHRXcZ8Vp51Hro5L3Py5KyG270RL-7AfJCrEOcvwKbHWOYthoZj1FcuuJWoCT80H1rtkw80vI8QpaQHhp8xYOGft4n6uf2WBhUVb9eBrl9B0GtWe3opBeFXzOtKyg
              cutOffDateTime: null
              expectedExecutionDateTime: null
              expectedSettlementDateTime: null
              merchantId: gabxwwv2l5
              creationDateTime: "2020-05-01T08:25:29.291Z"
              debtorBankName: Bank Name
              multiAuthorisation:
                status: null
                numberRequired: null
                numberReceived: null
                lastUpdateDateTime: null
                expirationDateTime: null
              links: 
               - 
                id: re27gry2dw
                resourceType: refunds
                uri: /payments/re27gry2dw/refunds
               - 
                id: re27gry2dw
                resourceType: history
                uri: /payments/re27gry2dw/history
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0004"
                description: Field is invalid
                field: email
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        415:
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        422:
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0016"
                description: Amount has to be greater than 0.
                field: amount
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
    get:
      tags:
        - PISP Service
      summary: List payments
      description: GET payments list endpoint
      operationId: getPaymentListUsingGet
      produces: 
        - application/json
      parameters:
        - name: fromdatetime
          in: query
          description: Submission from date time in the format, 'yyyy-MM-dd'T'HH:mm:ss', maximum date from/to date range is 30 days. If neither from/to date is provided returns results for the last 30 days.
          required: false
          type: string
        - name: todatetime
          in: query
          description: Submission to date time in the format, 'yyyy-MM-dd'T'HH:mm:ss', maximum date from/to date range is 30 days. If neither from/to date is provided returns results for the last 30 days.
          required: false
          type: string
        - name: fromamount
          in: query
          description: When provided only payments with amount equal or higher than provided amount will be returned
          required: false
          type: number
          minimum: 0
          maximum: 999999999.99
        - name: toamount
          in: query
          description: When provided only payments with amount equal or smaller than  provided amount will be returned
          required: false
          type: number
          minimum: 0
          maximum: 999999999.99
        - name: userinterfacepaymentid
          in: query
          description: This is used in UI flows to get payment details. Applicable for payments created with REDIRECT, CHECKOUT integration type.
          required: false
          type: string
        - name: paymentstatus
          in: query
          description: A number of statuses can be queried within a single request by providing multiple occurences of the parameter. If not provided all statuses will be returned
          required: false
          type: array
          items:
            type: string
            enum:
              - PENDING
              - PENDING_APPROVAL
              - OAUTH_CALLBACK_COMPLETE
              - AUTHORISED
              - DECLINED
              - SETTLEMENT_REJECTED
              - SETTLEMENT_PENDING
              - SETTLEMENT_IN_PROGRESS
              - SETTLEMENT_COMPLETE
              - CONSENT_API_REJECTED
              - TIMEOUT
              - CONSENT_TIMEOUT
              - UNEXPECTED_ERROR
              - UNKNOWN
              - PAYMENT_RECEIVED
          collectionFormat: multi
        - name: payername
          in: query
          description: Payer name. This parameter supports searching with wildcards
          required: false
          type: string
        - name: payeremail
          in: query
          description: Payer e-mail. This parameter supports searching with wildcards
          required: false
          type: string
        - name: reference
          in: query
          description: Payment reference will attempt to match endToEndIdentification, remittanceInformation.reference and remittanceInformation.unstructured. Will return all matches and partial matches if using wildcard searches. This parameter supports searching with wildcards
          required: false
          type: string
        - name: currency
          in: query
          description: Currency
          required: false
          type: string
          enum:
           - EUR
           - GBP
        - name: pagenumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 1
          format: int32
        - name: pagesize
          in: query
          description: Page size
          required: false
          type: integer
          default: 20
          format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaginatedListPaymentResponseEnvelope'
          examples:
            application/json:
              uri: /payments
              data:
               - id: ybo8zayk2q
                 uri: /payments/ybo8zayk2q
                 merchantId: b0zaq1klpt
                 creationDateTime: "2019-02-28T10:43:07.00Z"
                 amount: 99.99
                 countryCode: GB
                 currency: GBP
                 email: client@example.com
                 language: en
                 remittanceInformation: 
                     unstructured: The Remittance Information
                 endToEndIdentification: endToEndIdentification
                 orderDetails:
                  items:
                    - name: Flights Outbound
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 30.00
                    - name: Discounts
                      description: null
                      quantity: null
                      amount: -5.00
                    - name: Total 
                      description: null
                      quantity: null
                      amount: 125.00
                 integrationType: CHECKOUT
                 merchantPostAuthUrl: null
                 bankId: null
                 bankName: null
                 aspspAuthUrl: null
                 status: PENDING_APPROVAL
                 debtorBankName: Test Bank Name
                 debtorAccount:
                   identification: GB29NWBK60161331926819
                   schemeName: IBAN
                 links:
                   - id: null
                     resourceType: refunds
                     uri: /payments/ybo8zayk2q/refunds
                   - id: null
                     resourceType: history
                     uri: /payment/{paymentId}/history
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 1
                totalPages: 1
              sort: []                    
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0002"
                description: Field is invalid
                field: fromdatetime
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_pisp
        - PartnerApiKey: []
  /payments/callback:
    post:
      tags:
        - PISP Service
      summary: Forward Payment Callback
      description: Forward Payment Callback POST endpoint
      operationId: forwardPaymentCallbackPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: paymentCallbackRequest
          description: Create a Payment Callback Request
          required: true
          schema:
            type: object
            additionalProperties:
              type: string
            example:
              code: KaIpmx
              state: 3410742c-304d-4311-a54f-323f1f20f96f
              id_token: eyJraWQiOiJOdWFwYXlCYW5rX0tleUlEIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJjZDBlNDkxNC1jNjRlLTQyODQtYTg0ZS0yYzc2NGI3NzU5MWYiLCJhdWQiOiJ0ZXN0IiwiY19oYXNoIjoiU2VWM1ZYU3YyVHNMVXhLdVdLWE9PUSIsImFjciI6WyJ1cm46b3BlbmJhbmtpbmc6cHNkMjpzY2EiXSwic19oYXNoIjoicjNHcm53YjFzNXZYaHRwOU1oYm1zdyIsIm9wZW5iYW5raW5nX2ludGVudF9pZCI6ImNkMGU0OTE0LWM2NGUtNDI4NC1hODRlLTJjNzY0Yjc3NTkxZiIsImtpZCI6Ik51YXBheUJhbmtfS2V5SUQiLCJpc3MiOiJodHRwczpcL1wvYXBpLmFscGhhbmJhbmsuY29tIiwiZXhwIjoxNTUzMDA4MTkwLCJpYXQiOjE1NTMwMDc1OTAsIm5vbmNlIjoiODJiMTNjMzYtZTIzOC00MDA2LTkzMjQtNDJhZmQ2YjMwOTJlIiwianRpIjoiNGI4ODk3NjQtOWQwMy00YWM1LTg2MDgtOGMzZGU2NzU2N2VkIn0.fRBht6BQtqNxbUKmeoNqzWyFykTVX6zMCLcqvnPt1m665l9a8Zuwa4oaY_-2pULshjwD9yptgRdQ8KbkQ1SddwQacZYwUvzzbE1kV6GwhuwvGNU9TihPvh55eE3nY9kYJywn5m6hgC0x81m1MhMeAikanNZIia7rryB30CKxDMt0sL-5CvnFdyr2_csjuXotekC_weDsY4WNqCu5LfZhVk0IixXNiDXFxxnR9qNOjQ5fTljITWoPQ0G1KYfW3DOs4Nb23oZe8b-RxLebD9R2kBiIWh79oGOg-8RZz36FDNSn5Skt1KAz_c9bv7Vbt-au6VY1_tPdvZ8sgd44M__rZQ
        - name: Idempotency-Key
          in: header
          description: Every request will be processed only once per Idempotency-Key.  The Idempotency Key will be valid for 24 hours.
          required: false
          x-sentenial:
            enriched: "true"
          type: string
      responses:
        202:
          description: ACCEPTED
          headers:
            Location:
              type: string
              description: Holds uri of payment that was mapped using provided callback parameters
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0004"
                description: Field is invalid
                field: email
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        415:
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        422:
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "XXXXX"
                description: No payment matched based on provided parameters.
                field: null
        429:
          description: Too Many Requests
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          x-sentenial:
            enriched: "true"
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_callback
        - PartnerOAuth2:
          - openbanking_callback
  /payments/{paymentId}:
    get:
      tags:
        - PISP Service
      summary: Retrieve Payment
      description: GET Payment details endpoint
      operationId: getPaymentUsingGET
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment for which you want to retrieve details
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaymentResponseEnvelope'
          examples:
            application/json:
              uri: /payments/ybo8zayk2q
              data:
                id: ybo8zayk2q
                uri: /payments/ybo8zayk2q
                merchantId: b0zaq1klpt
                creationDateTime: "2019-02-28T10:43:07.00Z"
                amount: 99.99
                countryCode: GB
                currency: GBP
                email: client@example.com
                language: en
                remittanceInformation: 
                    unstructured: The Remittance Information
                endToEndIdentification: endToEndIdentification
                orderDetails:
                  items:
                    - name: Flights Outbound
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 30.00
                    - name: Discounts
                      description: null
                      quantity: null
                      amount: -5.00
                    - name: Total 
                      description: null
                      quantity: null
                      amount: 125.00
                integrationType: CHECKOUT
                merchantPostAuthUrl: null
                bankId: null
                bankName: null
                aspspAuthUrl: null
                status: PENDING_APPROVAL
                debtorAccount:
                  identification: GB29NWBK60161331926819
                  schemeName: IBAN
                links:
                  - id: null
                    resourceType: refunds
                    uri: /payments/ybo8zayk2q/refunds
                  - id: null
                    resourceType: history
                    uri: /payment/{paymentId}/history
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_pisp
        - MerchantApiKey: []
    patch:
      tags:
        - PISP Service
      summary:  Retry Payment 
      description: Retry Payment
      operationId: setBankIdForPaymentUsingPATCH
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment that you want to retry
          required: true
          type: string
        - in: body
          name: setBankForPayment
          description: Retry Payment Request
          required: true
          schema:
            $ref: '#/definitions/SetBankPaymentRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaymentResponseEnvelope'
          examples:
            application/json:
              uri: /payments/ybo8zayk2q
              data:
                id: ybo8zayk2q
                uri: /payments/ybo8zayk2q
                merchantId: b0zaq1klpt
                creationDateTime: "2019-02-28T10:43:07.00Z"               
                amount: 99.99
                countryCode: GB
                currency: GBP
                email: client@example.com
                language: en
                remittanceInformation: 
                    unstructured: The Remittance Information
                endToEndIdentification: endToEndIdentification
                orderDetails:
                  items:
                    - name: Flights Outbound
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 30.00
                    - name: Discounts
                      description: null
                      quantity: null
                      amount: -5.00
                    - name: Total 
                      description: null
                      quantity: null
                      amount: 125.00
                integrationType: CHECKOUT
                merchantPostAuthUrl: null
                bankId: lyboxy9bqp
                bankName: Nuapay
                aspspAuthUrl: null
                status: PENDING_APPROVAL
                debtorAccount:
                  identification: GB29NWBK60161331926819
                  schemeName: IBAN
                links:
                  - id: null
                    resourceType: refunds
                    uri: /payments/ybo8zayk2q/refunds
                  - id: null
                    resourceType: history
                    uri: /payment/{paymentId}/history
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0004"
                description: Field is invalid
                field: bankId
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        415:
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        422:
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
               -
                code: "TBD"
                description: The payment can't be processed with provided bank.
                field: bankId
               -
                code: "TBD"
                description: Bank cannot be found.
                field: bankId
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
            - openbanking_pisp
  /payments/{paymentId}/history:
    get:
      tags:
        - PISP Service
      summary: Retrieve Payment  History
      description: Retrieve Payment History
      operationId: getPaymentHistoryUsingGET
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment for which you want to retrieve audit trail history
          required: true
          type: string
        - name: pagenumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 1
          format: int32
        - name: pagesize
          in: query
          description: Page size
          required: false
          type: integer
          default: 20
          format: int32 
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaymentHistoryResponseEnvelope'
          examples:
            application/json:
              uri: /payments/ybo8zayk2q/history
              data:
                - status: PENDING
                  createDateTime: '2019-02-28T10:43:07+00:00'
                - status: PENDING_APPROVAL
                  createDateTime: '2019-02-28T10:44:07+01:00'
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 1
                totalPages: 1
              sort: []  
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0001"
                description: Page Number is invalid
                field: page          
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_pisp_read
        - MerchantApiKey: []
  /payments/{paymentId}/refunds:
    post:
      tags:
        - PISP Service
      summary: Refund Payment
      description: Refund a payment using POST
      operationId: refundPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment which you want to refund
          required: true
          type: string
        - in: body
          name: refundPaymentRequest
          description: Refund an exising payment
          required: true
          schema:
            $ref: '#/definitions/PaymentRefundRequest'
        - name: Idempotency-Key
          x-sentenial:
            enriched: true
          in: header
          description: Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.
          required: false
          type: string
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/PaymentRefundResponseEnvelope'
          examples:
            application/json:
              uri: /payments/ybo8zayk2q/refunds/azo4kal13b
              data:
               id: azo4kal13b
               uri: /payments/ybo8zayk2q/refunds/azo4kal13b
               creationDateTime: '2019-02-28T10:43:07.00Z'
               lastUpdateDateTime: '2019-02-28T10:43:07.00Z'
               status: REFUND_PENDING
               refundAmount: 100.01
               compensationAmount: 10.01
               currency: GBP
               remittanceInformation:
                 reference: reference
                 unstructured: unstructuredRemittanceInfo
               endToEndIdentification: endToEndIdentification
               errorDetails: null
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0004"
                description: Field is invalid
                field: email
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        415:
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        422:
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0016"
                description: Amount has to be greater than 0.
                field: amount
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_refund
        - MerchantApiKey: []
    get:
      tags:
        - PISP Service
      summary: List Payment Refunds
      description: List refunds using GET
      operationId: listRefundsUsingGET
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment for which you want to list refunds
          required: true
          type: string
        - name: fromcreationdatetime
          in: query
          description: Submission from date time in the format, 'yyyy-MM-dd'T'HH:mm:ss', maximum create date from/to create date range is 30 days. If neither from/to date is provided returns results for the last 30 days.
          required: false
          type: string
        - name: tocreationdatetime
          in: query
          description: Submission to date time in the format, 'yyyy-MM-dd'T'HH:mm:ss', maximum create date from/to create date range is 30 days. If neither from/to date is provided returns results for the last 30 days.
          required: false
          type: string
        - name: fromrefundamount
          in: query
          description: When provided only payments with amount equal or higher than provided amount will be returned
          required: false
          type: number
          minimum: 0
          maximum: 999999999.99
        - name: torefundamount
          in: query
          description: When provided only payments with amount equal or smaller than  provided amount will be returned
          required: false
          type: number
          minimum: 0
          maximum: 999999999.99
        - name: refundstatus
          in: query
          description: A number of statuses can be queried within a single request by providing multiple occurences of the parameter. If not provided all statuses will be returned
          required: false
          type: array
          items:
            type: string
            enum:
              - ALL
              - REFUND_REJECTED
              - REFUND_COMPLETE
              - REFUND_PENDING
          collectionFormat: multi
        - name: pagenumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 1
          format: int32
        - name: pagesize
          in: query
          description: Page size
          required: false
          type: integer
          default: 20
          format: int32
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/PaymentRefundListResponseEnvelope'
          examples:
            application/json:
              uri: /payments/ybo8zayk2q/refunds/
              data:
              - id: azo4kal13b
                uri: /payments/ybo8zayk2q/refunds/azo4kal13b
                creationDateTime: '2019-02-28T10:43:07.00Z'
                lastUpdateDateTime: '2019-02-28T10:43:07.00Z'
                status: REFUND_PENDING
                refundAmount: 100.01
                compensationAmount: 10.01
                currency: GBP
                remittanceInformation:
                  reference: reference
                  unstructured: unstructuredRemittanceInfo
                endToEndIdentification: endToEndIdentification
                errorDetails: null
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 1
                totalPages: 1
              sort: []
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0004"
                description: Field is invalid
                field: email
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        422:
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0016"
                description: Amount has to be greater than 0.
                field: amount
        429:
          description: Too Many Requests
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_pisp
        - MerchantApiKey: []
  /payments/{paymentId}/refunds/{refundId}:
    get:
      tags:
        - PISP Service
      summary: Retrieve Refund
      description: GET Refund details endpoint
      operationId: getRefundUsingGET
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment for which you want to retrieve details
          required: true
          type: string
        - name: refundId
          in: path
          description: The ID of the refund for which you want to retrieve details
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaymentRefundResponseEnvelope'
          examples:
            application/json:
              uri: /payments/ybo8zayk2q/refunds/azo4kal13b
              data:
               id: azo4kal13b
               uri: /payments/ybo8zayk2q/refunds/azo4kal13b
               creationDateTime: '2019-02-28T10:43:07.00Z'
               lastUpdateDateTime: '2019-02-28T10:43:07.00Z'
               status: REFUND_REJECTED
               refundAmount: 100.01
               compensationAmount: 10.01
               currency: GBP
               remittanceInformation:
                 reference: reference
                 unstructured: unstructuredRemittanceInfo
               endToEndIdentification: endToEndIdentification
               errorDetails: [
                 "5008",
                 "5016"
               ]        
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_refund_read
        - MerchantApiKey: []
securityDefinitions:
  MerchantApiKey:
    type: basic
  PartnerApiKey:
    type: basic
  MerchantOAuth2:
    type: oauth2
    tokenUrl: https://api.nuapay.com/oauth/token_key
    flow: password
    scopes:
      openbanking_aisp: Account Information Service Provider access
      openbanking_pisp: Payment Initiation Service Provider access
      openbanking_pisp_read: Read Account and Payment Information  access
      openbanking_refund: Open Banking Refund access
      openbanking_refund_read: Read Open Banking Refunds access
      openbanking_callback: Open Banking callback forwarding access
  PartnerOAuth2:
    type: oauth2
    tokenUrl: https://api.nuapay.com/oauth/token_key
    flow: password
    scopes:
      openbanking_aisp: Account Information Service Provider access
      openbanking_pisp: Payment Initiation Service Provider access
      openbanking_pisp_read: Read Account and Payment Information  access
      openbanking_callback: Open Banking callback forwarding access
definitions:
  Address:
    description: Postal Address Details.
    type: object
    properties:
      streetName:
        description: Name of a street or thoroughfare.
        type: string
        minLength: 1
        maxLength: 70
      buildingNumber:
        description: Number that identifies the position of a building on a street.
        type: string
        minLength: 1
        maxLength: 16
      postCode:
        description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
        type: string
        minLength: 1
        maxLength: 16
      townName:
        description: Name of a built-up area, with defined boundaries, and a local government.
        type: string
        minLength: 1
        maxLength: 35
      country:
        description: ISO 3166 ALPHA2 country code.
        type: string
        pattern: '^[A-Z]{2,2}$'
      addressLine:
        items:
          type: string
          minLength: 1
          maxLength: 70
        type: array
        description: Information that locates and identifies a specific address, as defined by postal services, presented in free format text.
        minItems: 0
        maxItems: 2
  Bank:
    type: object
    required:
      - id
      - uri
      - logo
      - name
      - supportedCurrencies
      - country
      - debtorAccountRequired
    properties:
      id:
        type: string
        description: The Banks Id
      uri:
        type: string
        description: Uri to Bank Resource
      name:
        type: string
        description: The Banks Name
      logo:
        type: string
        description: The Banks Logo http location
      supportedCurrencies:
        type: array
        description: Holds list of payment currencies that the bank can process.
        items: 
          type: string
          description: ISO currency code. 
      country:
        type: string
        description: countryCode - ISO country code - indicates where the Bank is located (ISO 3166 Alpha-2)
      debtorAccountRequired:
        type: boolean
        description: TRUE if debtorAccount is required by Aspsp.
      bankMetaData:
        description: Array containing additional bank meta data, includes parameters that are either required, optional or not supported at a specific bank
        $ref: '#/definitions/BankMetaData'        
      links:
        type: array
        items:      
          $ref: '#/definitions/RestResponseLink'        
    title: Bank
  BankMetaData:
    type: object
    properties:
      debtorAddress:
        type: string
        description: Indicates if 'Debtor Address' is required by the bank. Returns either, 'required', 'optional' or 'notSupported'.
      creditorAddress:
        type: string
        description: Indicates if 'Creditor Address' is required by the bank. Returns either, 'required', 'optional' or 'notSupported'.
      remittanceInformation:
        type: string
        description: Indicates if 'Remittance Information' is required by the bank. Returns either, 'required', 'optional' or 'notSupported'.
      psuId:
        type: string
        description: Indicates if 'PSU-ID' is required by the bank. Returns either, 'required', 'optional' or 'notSupported'.
      customerIpAddress:
        type: string
        description: Indicates if 'Customer IP Address' is required by the bank. Returns either, 'required', 'optional' or 'notSupported'.
      minimumPaymentValue:
        type: number
        description: Indicates the minimum payment value accepted by the bank. A value of 0.00 indicates this parameter is not supported by the bank. 
      maximumPaymentValue:
        type: number
        description: Indicates the maximum payment value accepted by the bank. A value of 0.00 indicates this parameter is not supported by the bank.
  BanksResponse:
    type: object
    required:
      - data
      - uri
      - page
      - sort
    properties:
      uri:
        type: string
        description: Holds queried resource uri.
      data:
        type: array
        description: Banks collection
        items:
          $ref: '#/definitions/Bank'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        items:
          type: string
    title: BanksResponse
    example:
      uri: /banks
      data: 
       - id: 8ow24y2pdx
         uri: /banks/8ow24y2pdx
         name: Nuapay
         logo: https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg
         supportedCurrencies:
         - GBP
         - EUR
         country: GB
         debtorAccountRequired: false
         bankMetaData:
           debtorAddress: required
           creditorAddress: required
           remittanceInformation: optional
           psuId: notSupported
           customerIpAddress: notSupported
           minimumPaymentValue: 0.01
           maximumPaymentValue: 9999.99           
         links:
         -
          id: 8ww64y0phx
          resourceType: bankFamily
          uri: /bankFamilies/8ww64y0phx         
      page:
        pageNumber: 1
        pageSize: 10
        totalElements: 1
        totalPages: 1
      sort: []
  BankFamilyResponse:
    type: object
    required:
      - id
      - uri
      - name
      - logo
      - supportedCurrencies
    properties:
      id:
        type: string
        description: The Banks Family Id, used to group branches belong to the same Bank
      uri:
        type: string
        description: Uri to Bank Family Resource
      name:
        type: string
        description: The Bank Family Name
      logo:
        type: string
        description: The Bank Family Logo http location
      supportedCurrencies:
        type: array
        description: Holds list of payment currencies that the Bank Family can process.
        items: 
          type: string
          description: ISO currency code.
    title: BankFamilyResponse   
  BankFamilyResponseEnvelope:
    type: object
    required:
      - data
      - uri
    properties:
      uri:
        type: string
        description: Holds queried resource uri.
      data:
        type: array
        description: Bank Family collection
        items:
          $ref: '#/definitions/BankFamilyResponse'
    title: BankFamilyResponseEnvelope
    example:
      uri: /bankFamily/
      data: 
        id: 8ww64y0phx
        uri: /bankFamilies/8ww64y0phx
        name: Nuapay France
        logo: https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg
        supportedCurrencies:
        - EUR        
  CreditorAccount:
    type: object
    required:
      - identification
      - schemeName
    properties:
      identification:
        type: string
        description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
        minLength: 1
        maxLength: 34
      name:
        type: string
        description: "Name of the account, as assigned by the account servicing institution, in agreement with the account owner in order to provide an additional means of identification of the account. Usage - The account name is different from the account owner name. The account name is used in certain user communities to provide a means of identifying the account, in addition to the account owner's identity and the account number."
        minLength: 1
        maxLength: 70
      schemeName:
        type: string
        description: Name of the identification scheme, in a coded form as published in an external list.
        enum:
          - IBAN
          - SortCodeAccountNumber
      secondaryIdentification:
        type: string
        description: Identification assigned by an institution to identify an account.
          This identification is known by the account owner.
        minLength: 1
        maxLength: 34
    title: CreditorAccount
    description: Unambiguous identification of the account of the creditor to which a credit entry will be made as a result of the transaction.
  DebtorAccount:
    type: object
    required:
      - identification
      - schemeName
    properties:
      identification:
        type: string
        description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
        minLength: 1
        maxLength: 34     
      name:
        type: string
        description: "Name of the account, as assigned by the account servicing institution,
          in agreement with the account owner in order to provide an additional means
          of identification of the account. Usage: The account name is different from
          the account owner name. The account name is used in certain user communities
          to provide a means of identifying the account, in addition to the account
          owner's identity and the account number."
        minLength: 1
        maxLength: 70
      schemeName:
        type: string
        description: Name of the identification scheme, in a coded form as published in an external list.
        enum:
          - IBAN
          - SortCodeAccountNumber
      secondaryIdentification:
        type: string
        description: Identification assigned by an institution to identify an account.
          This identification is known by the account owner.
        minLength: 1
        maxLength: 34
    title: DebtorAccount
    description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
  DeliveryAddress:
    type: object
    required:
      - country
      - townName
    properties:
      addressLine:
        type: array
        description: Information that locates and identifies a specific address, as
          defined by postal services, that is presented in free format text.
        items:
          type: string
          minLength: 1
          maxLength: 70
        maxItems: 2
        minItems: 0
      streetName:
        type: string
        description: Name of a street or thoroughfare.
        minLength: 1
        maxLength: 70
      buildingNumber:
        type: string
        description: Number that identifies the position of a building on a street.
        minLength: 1
        maxLength: 16
      postCode:
        type: string
        description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
        minLength: 1
        maxLength: 16
      townName:
        type: string
        description: Name of a built-up area, with defined boundaries, and a local government.
        minLength: 1
        maxLength: 35
      countrySubDivision:
        type: array
        description: Identifies a subdivision of a country, for instance state, region,
          county.
        items:
          type: string
          minLength: 1
          maxLength: 35
        maxItems: 2
        minItems: 0
      country:
        type: string
        description: Nation with its own government, occupying a particular territory.
        pattern: ^[A-Z]{2,2}$
    title: DeliveryAddress
    description: Information that locates and identifies a specific address, as defined by postal services or in free format text.
  ErrorDetailsItem:
    type: object
    properties:
      code:
        type: string
        description: Error code
      description:
        type: string
        description: Error description
      field:
        type: string
        description: JSON path to request object property the error is related to
    title: ErrorDetailsItem
  ErrorResponse:
    type: object
    properties:
      details:
        type: array
        description: Holds list of input validation errors
        items:
          $ref: '#/definitions/ErrorDetailsItem'
      returnCode:
        type: string
        description: Error type code
      returnDescription:
        type: string
        description: Error type description
    title: ErrorResponse
  Items:
    type: object
    properties:
      name:
        type: string
        description: The name of the item being purchased by the PSU.
        minLength: 1
        maxLength: 35
      description:
        type: string
        description: Brief description of the item being purchased by the PSU
        minLength: 1
        maxLength: 254
      quantity:
        type: integer
        format: int32
        description: Quantiy of the particular item being purchased by the PSU.
      amount:
        type: number
        description: Amount of payment in the specified currency at the specified rate.
        minimum: -999999999999.99
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
    title: Items
  MultiAuthorisation:
    type: object
    description: The multiple authorisation flow response from the ASPSP.
    properties:
      status:
        description: Specifies the status of the authorisation flow in code form.
        type: string
        enum:
          - AUTHORISED
          - AWAITING_FURTHER_AUTHORISATION
          - REJECTED
      numberRequired:
        description: Number of authorisations required for payment order (total required at
          the start of the multi authorisation journey).
        type: integer
        format: int32
      numberReceived:
        description: Number of authorisations received.
        type: integer
        format: int32
      lastUpdateDateTime:
        description: Last date and time at the authorisation flow was updated.
        type: string
        format: date-time
      expirationDateTime:
        description: Date and time at which the requested authorisation flow must be
          completed.
        type: string
        format: date-time
    required:
      - status
  OrderDetails:
    type: object
    description: Holds Order Details related to payment amount.
    properties:
      items:
        type: array
        description: Holds list of the line items to be returned to the TPP UI
        items:
          $ref: '#/definitions/Items'
    title: OrderDetails
  PaginatedListPaymentResponseEnvelope:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/PaymentResponse'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        items:
          type: string
      uri:
        type: string
        description: resource Uri
  PaginatedListBankFamiliesResponseEnvelope:
    type: object
    required:
      - uri
      - data
      - page
      - sort    
    properties:
      uri:
        type: string
        description: resource Uri
      data:
        type: array
        items:
          $ref: '#/definitions/BankFamilyResponse'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        items:
          type: string
    title: PaginatedListBankFamiliesResponseEnvelope                
  PaymentRefundListResponseEnvelope:
    type: object
    required:
    - data
    - uri
    properties:
      uri:
        type: string
        description: resource Uri
      data:
        type: array
        items:
          $ref: '#/definitions/PaymentRefundResponse'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        items:
          type: string
  PaymentHistoryResponseEnvelope:
    type: object
    required:
      - data
      - uri
    properties:
      uri:
        type: string
        description: resource Uri.
      data:
        type: array
        items:
          $ref: '#/definitions/PaymentHistoryEvent'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        items:
          type: string
  PaymentHistoryEvent:
    type: object
    required:
        - createDateTime
        - status
    properties:
        id: 
          type: string
        links:
          type: array
          items:      
            $ref: '#/definitions/RestResponseLink'          
        uri:
          type: string
        status:
          type: string
          description: paymentStatus
          enum:
          - PENDING
          - PENDING_APPROVAL
          - OAUTH_CALLBACK_COMPLETE
          - AUTHORISED
          - DECLINED
          - SETTLEMENT_REJECTED
          - SETTLEMENT_PENDING
          - SETTLEMENT_IN_PROGRESS
          - SETTLEMENT_COMPLETE
          - CONSENT_API_REJECTED
          - TIMEOUT
          - CONSENT_TIMEOUT
          - UNEXPECTED_ERROR
          - UNKNOWN
          - PAYMENT_RECEIVED
        createDateTime:
          type: string
          format: date-time
          description: 'Date and time when a status has changed. An
          example is below: 2019-02-28T10:43:07+00:00'
  PaymentRequest:
    type: object
    required:
      - amount
      - countryCode
      - currency
    properties:
      amount:
        type: number
        description: amount
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
      currency:
        type: string
        description: transaction currency
        enum:
          - GBP
          - EUR
      countryCode:
        type: string
        description: countryCode - ISO country code - indicates where customer is
          domiciled (ISO 3166 Alpha-2)
        pattern: ^[A-Z]{2}$
      language:
        type: string
        description: 'the customers preferred language, defaults to en ISO 639-1:
            two-letter codes, one per language'
        pattern: ^[a-z]{2}$
      email:
        type: string
        description: Email address where payment status notifications will be sent
          to
        minLength: 1
        maxLength: 254
        pattern: .*@.*
      orderDetails:
        $ref: '#/definitions/OrderDetails'
      integrationType:
        type: string
        description: Allows to specify if the UI integration is done via Checkout, Redirect or it is Self Hosted by the merchant.
        enum:
        - CHECKOUT
        - SELF_HOSTED
        - SELF_HOSTED_CALLBACK
        - REDIRECT
      merchantPostAuthUrl:
        type: string
        description: The merchant url to redirect PSU post authorization step. The field is required for following integration types SELF_HOSTED, SELF_HOSTED_CALLBACK, REDIRECT.
        minLength: 1
        maxLength: 255
      bankId:
        type: string
        description: The bank id returned by List Banks API. This is the bank where PSU holds its account
        minLength: 1
        maxLength: 10
      endToEndIdentification:
        type: string
        description:  Unique identification assigned by the initiating party to unambiguously identify the transaction.
        minLength: 1
        maxLength: 35
      paymentTimeout:
        type: integer
        format: int32
        description: A time in which the PSU can authorise the payment in seconds
        minimum: 1
        maximum: 7776000
        exclusiveMinimum: false
        exclusiveMaximum: false
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
      requestedExecutionDate:
        type: string
        format: date
        description: Date the payment should be executed on. Defaults to current processing date. Future date allowed only for EUR payments processed by French Banks under STET standard.
      debtorAccount:
        $ref: '#/definitions/DebtorAccount'
      debtorAddress:
        $ref: '#/definitions/Address'
      creditorAccount:
        $ref: '#/definitions/CreditorAccount'
      creditorAddress:
        $ref: '#/definitions/Address'
      paymentScheme:
        type: string
        description: Allows to select payment scheme the payment should be initiated with. Defaults to UK Faster Payments for GBP and SEPA Credit Transfer for EUR.
        enum:
        - UK_FASTER_PAYMENT
        - SEPA_CREDIT_TRANSFER
        - SEPA_INSTANT_CREDIT_TRANSFER
      risk:
        $ref: '#/definitions/Risk'
    title: PaymentRequest
    example:
      amount: 99.99
      countryCode: GB
      currency: GBP
      email: client@example.com
      language: en
      endToEndIdentification: endToEndIdentification123
      remittanceInformation: 
       reference: reference123
      orderDetails: 
       items: 
        - 
         name: Flights Outbound
         description: Dublin(DUB) to London(LCY) - Adult Fare
         quantity: 2
         amount: 50
        - 
         name: Flights Return
         description: Dublin(DUB) to London(LCY) - Adult Fare
         quantity: 2
         amount: 50
        - 
         name: Flights Return
         description: Dublin(DUB) to London(LCY) - Adult Fare
         quantity: 2
         amount: 30
        - 
         name: Discounts
         description: null
         quantity: null
         amount: -5
        - 
         name: Total
         description: null
         quantity: null
         amount: 125
      integrationType: SELF_HOSTED
      merchantPostAuthUrl: https://merchant.openbanking.com/result
      bankId: lyboxy9bqp
      debtorAccount: 
       identification: 60161331926819
       schemeName: SortCodeAccountNumber
  PaymentResponse:
    type: object
    required:
      - amount
      - countryCode
      - currency
      - id
      - merchantId
      - creationDateTime
      - uri
      - status
      - paymentTimeout
    properties:
      id:
        type: string
        description: id, this is used to get updates on the payment
      userInterfacePaymentId:
        type: string
        description: userInterfacePaymentId, this is used in UI flows to get updates on the payment
      uri:
        type: string
        description: Location of the resource
      merchantId:
        type: string
        description: The ID of the merchant associated to the payment
      creationDateTime:
        type: string
        format: date-time
        description: Creation date and time for the payment resource
      status:
        type: string
        description: paymentStatus, the latest payment status
        enum:
          - PENDING
          - PENDING_APPROVAL
          - OAUTH_CALLBACK_COMPLETE
          - AUTHORISED
          - DECLINED
          - SETTLEMENT_REJECTED
          - SETTLEMENT_PENDING
          - SETTLEMENT_IN_PROGRESS
          - SETTLEMENT_COMPLETE
          - CONSENT_API_REJECTED
          - TIMEOUT
          - CONSENT_TIMEOUT
          - UNEXPECTED_ERROR
          - UNKNOWN
          - PAYMENT_RECEIVED
      amount:
        type: number
        description: Amount of the payment
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false    
      currency:
        type: string
        description: Transaction currency
        enum:
          - GBP
          - EUR
      countryCode:
        type: string
        description: countryCode - ISO country code - indicates where customer is domiciled (ISO 3166 Alpha-2)
        pattern: ^[A-Z]{2}$
      language:
        type: string
        description: 'the customers preferred language, defaults to en ISO 639-1:
          two-letter codes, one per language'
        pattern: ^[a-z]{2}$
      email:
        type: string
        description: Email address where payment status notifications will be sent to
        minLength: 1
        maxLength: 254
        pattern: .*@.*
      orderDetails:
        description: Holds Order Details related to payment amount.
        $ref: '#/definitions/OrderDetails'
      integrationType:
        type: string
        description: Allows to specify if the UI integration is done via Checkout, Redirect or it is Self Hosted by the merchant.
        enum:
        - CHECKOUT
        - SELF_HOSTED
        - SELF_HOSTED_CALLBACK
        - REDIRECT
      merchantPostAuthUrl:
        type: string
        description: The merchant url to redirect PSU post authorization step. The field is required for following integration types SELF_HOSTED, SELF_HOSTED_CALLBACK, REDIRECT.
        minLength: 1
        maxLength: 255
      bankId:
        type: string
        description: The bank id returned by List Banks API. This is the bank where PSU holds its account
        minLength: 1
        maxLength: 10
      aspspAuthUrl:
        type: string
        description: The ASPSP url to redirect the PSU to for authorization of the payment
        minLength: 1
        maxLength: 2048
      endToEndIdentification:
        type: string
        description:  Unique identification assigned by the initiating party to unambiguously identify the transaction 
        minLength: 1
        maxLength: 35
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
      requestedExecutionDate:
        type: string
        format: date
        description: Date that the payment has been requested to be executed on.
      debtorBankName:
        type: string
        description: The name of the debtor bank
        minLength: 1
        maxLength: 70
      debtorAccount:
        $ref: '#/definitions/DebtorAccount'
      debtorAddress:
        $ref: '#/definitions/Address'
      creditorAccount:
        $ref: '#/definitions/CreditorAccount'
      creditorAddress:
        $ref: '#/definitions/Address'
      paymentScheme:
        type: string
        description: Allows to select payment scheme the payment should be initiated with. Defaults to UK Faster Payments for GBP and SEPA Credit Transfer for EUR.
        enum:
        - UK_FASTER_PAYMENT
        - SEPA_CREDIT_TRANSFER
        - SEPA_INSTANT_CREDIT_TRANSFER
      risk:
        $ref: '#/definitions/Risk'
      cutOffDateTime:
        type: string
        format: date-time
        description: Specified cut-off date and time for the payment consent.
      expectedExecutionDateTime:
        type: string
        format: date-time
        description: Expected execution date and time for the payment resource.
      expectedSettlementDateTime:
        type: string
        format: date-time
        description: Expected settlement date and time for the payment resource.
      paymentTimeout:
        type: integer
        format: int32
        description: A time in which the PSU can authorise the payment in seconds
        minimum: 1
        maximum: 7776000
        exclusiveMinimum: false
        exclusiveMaximum: false
      multiAuthorisation:
        $ref: '#/definitions/MultiAuthorisation'
      links:
        type: array
        items:      
          $ref: '#/definitions/RestResponseLink'
    title: PaymentResponse
  PaymentResponseEnvelope:
    type: object
    required:
      - data
      - uri
    properties:
      uri:
        type: string
        description: Holds resource uri.
      data:
        $ref: '#/definitions/PaymentResponse'    
    title: PaymentResponseEnvelope
    example:
      uri: /payments/re27gry2dw
      data: 
       id: re27gry2dw
       uri: /payments/re27gry2dw
       endToEndIdentification: endToEndIdentification123
       debtorAccount: 
        identification: 60161331926819
        name: null
        schemeName: SortCodeAccountNumber
        secondaryIdentification: null
       risk: 
        paymentContextCode: Other
        merchantCategoryCode: null
        merchantCustomerIdentification: null
        deliveryAddress: null
       remittanceInformation: 
        reference: reference123
        unstructured: null
       status: PENDING_APPROVAL
       amount: 99.99
       currency: GBP
       countryCode: GB
       language: en
       email: client@example.com
       orderDetails: 
        items: 
         - name: Flights Outbound
           description: Dublin(DUB) to London(LCY) - Adult Fare
           quantity: 2
           amount: 50
         - name: Flights Return
           description: Dublin(DUB) to London(LCY) - Adult Fare
           quantity: 2
           amount: 50
         - name: Flights Return
           description: Dublin(DUB) to London(LCY) - Adult Fare
           quantity: 2
           amount: 30
         - name: Discounts
           description: null
           quantity: 0
           amount: -5
         - name: Total
           description: null
           quantity: 0
           amount: 125
       integrationType: SELF_HOSTED
       merchantPostAuthUrl: https://merchant.openbanking.com/result
       bankId: lyboxy9bqp
       aspspAuthUrl: https://any-aspsp.com/openbanking/authorize?response_type=code+id_token&scope=openid+payments&client_id=377aaa6a-70bf-4e95-ac19-2bac5270bacd&redirect_uri=https%3A%2F%2Fapi.nuapay.com%2Ftpp%2Fpayment-requests%2Foauth&state=df78b5f6-12c0-4646-b47c-4362217acb0a&nonce=bea92693-19da-4609-858e-86c79e908a08&request=eyJraWQiOiI2QlJZamgtc0VRUTNmNWlzc0lxWU9WNGNXdVUiLCJ0eXAiOiJKV1QiLCJhbGciOiJQUzI1NiJ9.eyJpc3MiOiIzNzdhYWE2YS03MGJmLTRlOTUtYWMxOS0yYmFjNTI3MGJhY2QiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsIm5vbmNlIjoiYmVhOTI2OTMtMTlkYS00NjA5LTg1OGUtODZjNzllOTA4YTA4IiwiY2xpZW50X2lkIjoiMzc3YWFhNmEtNzBiZi00ZTk1LWFjMTktMmJhYzUyNzBiYWNkIiwibWF4X2FnZSI6ODY0MDAsImF1ZCI6Imh0dHBzOlwvXC9hdXRob3Jpc2UtYXBpLmxsb3lkc2JhbmsuY28udWtcL3Byb2QwMVwvY2hhbm5lbFwvbHlkcyIsInNjb3BlIjoib3BlbmlkIHBheW1lbnRzIiwiY2xhaW1zIjp7InVzZXJpbmZvIjp7Im9wZW5iYW5raW5nX2ludGVudF9pZCI6eyJ2YWx1ZSI6IjY0YWQ5NWEwLWUzMWYtNGNiOC04NjM3LTdjOGRmOTc3MTJmOSIsImVzc2VudGlhbCI6dHJ1ZX19LCJpZF90b2tlbiI6eyJvcGVuYmFua2luZ19pbnRlbnRfaWQiOnsidmFsdWUiOiI2NGFkOTVhMC1lMzFmLTRjYjgtODYzNy03YzhkZjk3NzEyZjkiLCJlc3NlbnRpYWwiOnRydWV9LCJhY3IiOnsiZXNzZW50aWFsIjp0cnVlLCJ2YWx1ZXMiOlsidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwidXJuOm9wZW5iYW5raW5nOnBzZDI6Y2EiXX19fSwicmVkaXJlY3RfdXJpIjoiaHR0cHM6XC9cL2FwaS5udWFwYXkuY29tXC90cHBcL3BheW1lbnQtcmVxdWVzdHNcL29hdXRoIiwic3RhdGUiOiJkZjc4YjVmNi0xMmMwLTQ2NDYtYjQ3Yy00MzYyMjE3YWNiMGEiLCJleHAiOjE1NzU0NTg3MTYsImlhdCI6MTU3NTQ1ODQxNiwianRpIjoiNDQyYmY4N2YtYzIxNC00NjgxLTk3ODYtZjIwZGM1YjIzOWYxIn0.IyeHKQQeU6x32CdUllkskLFWEjkJZKzvp8D4ZOwtlN3v32qmbh4hkGtwNilqZetqqq1ESB1InzfyAlb5S3GyZ_1pTV5UmFqsY60w4jIvSVQXmxKyCYIDrdgTvfa3IYOtA3vStpRpnHyXZfke7mBLGM0nn3YLEmujQ88T1kzq8v9rKTUKwgAE-NYLsYnXNg8dNlrl_lvXVou-J26keS5EaYMVSwHRXcZ8Vp51Hro5L3Py5KyG270RL-7AfJCrEOcvwKbHWOYthoZj1FcuuJWoCT80H1rtkw80vI8QpaQHhp8xYOGft4n6uf2WBhUVb9eBrl9B0GtWe3opBeFXzOtKyg
       cutOffDateTime: null
       expectedExecutionDateTime: null
       expectedSettlementDateTime: null
       merchantId: gabxwwv2l5
       creationDateTime: "2020-05-01T08:25:29.291Z"
       debtorBankName: Bank Name
       multiAuthorisation: 
        status: null
        numberRequired: null
        numberReceived: null
        lastUpdateDateTime: null
        expirationDateTime: null
       links: 
        - 
         id: re27gry2dw
         resourceType: refunds
         uri: "/payments/re27gry2dw/refunds"
        - 
         id: re27gry2dw
         resourceType: history
         uri: "/payments/re27gry2dw/history"
  PaymentRefundRequest:
    type: object
    required:
      - refundAmount
      - currency
    properties:
      refundAmount:
        type: number
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
      compensationAmount:
        type: number
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
      currency:
        type: string
        description: Transaction currency, must match original payment currency
        enum:
          - GBP
          - EUR   
      endToEndIdentification:
        type: string
        description: Unique identification assigned by the initiating party to unambiguously identify the transaction. Note that the field length is limited to 31 characters for payments in GBP currency, processed via UK Faster Payments scheme
        minLength: 1
        maxLength: 35      
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
  PaymentRefundResponseEnvelope:
    type: object
    required:
      - data
      - uri
    properties:
      uri:
        type: string
        description: Holds resource uri.
      data:
        $ref: '#/definitions/PaymentRefundResponse'
    title: refundPaymentResponseEnvelope
    example:
      uri: /payments/ybo8zayk2q/refunds/azo4kal13b
      data:
        id: azo4kal13b
        uri: /payments/ybo8zayk2q/refunds/azo4kal13b
        creationDateTime: '2019-02-28T10:43:07.00Z'
        lastUpdateDateTime: '2019-02-28T10:43:07.00Z'      
        reference: reference
        status: REFUND_PENDING
        refundAmount: 100.01
        compensationAmount: 10.01
        currency: GBP
        remittanceInformation:
          unstructured: unstructuredRemittanceInfo
  PaymentRefundResponse:
    type: object
    required:
      - refundAmount
      - currency
      - id
      - uri
      - reference
      - status
      - creationDateTime
    properties:
      id:
        type: string
        description: id, this is used to get updates on the payment
      uri:
        type: string
        description: Holds resource uri.
      creationDateTime:
        type: string
        format: date-time
        description: 'Date and time when refund was created.'
      lastUpdateDateTime:
        type: string
        format: date-time
        description: 'Date and time when refund was last updated.'
      status:
        type: string
        description: paymentStatus, the latest payment status
        enum:
          - REFUND_PENDING
          - REFUND_COMPLETE
          - REFUND_REJECTED
          - UNKNOWN
      refundAmount:
        type: number
        description: amount
        minimum: 0.01
        maximum: 999999999999.99
      compensationAmount:
        type: number
        description: amount
        minimum: 0.01
        maximum: 999999999999.99
      currency:
        type: string
        description: transaction currency
        enum:
          - GBP
          - EUR
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
      endToEndIdentification:
        type: string
        description:  Unique identification assigned by the initiating party to unambiguously identify the transaction.
        maxLength: 35
      errorDetails:
        type: array
        description: List of error codes associated to the refund request
        items: 
          type: string
          description: Payment error code(s)
    title: PaymentRefundResponse
  RemittanceInformation:
    type: object
    properties:
      reference:
        type: string
        description: "Unique reference, as assigned by the creditor, to unambiguously
          refer to the payment transaction.  Usage: If available, the initiating party
          should provide this reference in the structured remittance information,
          to enable reconciliation by the creditor upon receipt of the amount of money.
          If the business context requires the use of a creditor reference or a payment
          remit identification, and only one identifier can be passed through the
          end-to-end chain, the creditor's reference or payment remittance identification
          should be quoted in the end-to-end transaction identification. OB: The Faster
          Payments Scheme can only accept 18 characters for the ReferenceInformation
          field - which is where this ISO field will be mapped."
        minLength: 1
        maxLength: 35
      unstructured:
        type: string
        description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts receivable system, in an unstructured form. 120 characters are available for client use. 20 characters are reserved for internal use.
        minLength: 1
        maxLength: 140
    title: RemittanceInformation
    description: Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts receivable system.
  RestResponsePaginationDetails:
    type: object
    properties:
      pageNumber:
        type: integer
        format: int32
        description: Page Number
      pageSize:
        type: integer
        format: int32
        description: Page Size
      totalElements:
        type: integer
        format: int32
        description: Total Number of elements returned. Response parameter only
      totalPages:
        type: integer
        format: int32
        description: Total Number of pages returned. Response parameter only
  Risk:
    type: object
    properties:
      paymentContextCode:
        type: string
        description: Specifies the payment context.
        enum:
          - BillPayment
          - EcommerceGoods
          - EcommerceServices
          - Other
          - PartyToParty
      merchantCategoryCode:
        type: string
        description: Category code conforms to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
        minLength: 3
        maxLength: 4
      merchantCustomerIdentification:
        type: string
        description: The unique customer identifier of the PSU with the merchant.
        minLength: 1
        maxLength: 70
      deliveryAddress:
        $ref: '#/definitions/DeliveryAddress'
    title: Risk
    description: Risk
  RestResponseLink:
    type: object
    properties:
      id:
        type: string
        description: 'Encoded Id of linked resource'
      resourceType:
        type: string
        description: Resource Type
        enum:
          - settings
          - refunds
          - history
          - audit
          - bankFamily          
      uri:
        type: string
        description: Resource URI
  SetBankPaymentRequest:
    type: object
    required:
      - bankId
    properties:
      bankId:
        type: string
        description: The bank id returned by List Banks API. This is the bank where PSU holds its account
        minLength: 1
        maxLength: 10
      debtorAccount:
        $ref: '#/definitions/DebtorAccount'
    example:
[...]
