swagger: '2.0'
info:
  description: Swagger Spec for the Nuapay TPP OpenBanking/PSD2. Provides AISP, PISP
    and Banks Endpoints
  version: '1.4.0'
  title: Nuapay TPP API Specification
  contact:
    name: Nuapay
    email: 'api.support@nuapay.com'
  license:
    name: 'Nuapay'
    url: 'https://sentenial.com'
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg'
host: 'api.nuapay.com'
basePath: /tpp
schemes: 
  - https
tags:
  - name: Bank Service
    description: |-
      Bank endpoints allow a merchant to,
      - Retrieve a list of banks that support the Open Banking scheme
      - View details of a specific bank that supports the Open Banking scheme
  - name: PISP Service
    description: |-
      Payment initiation endpoints allow a merchant to,
      - Initiate payment requests in Open Banking
      - Retrieve the status of a previously initiated payment request
paths:
  /banks:
    get:
      tags:
        - Bank Service
      summary: Retrieve Banks
      description: Get Supported Banks On This TPP
      operationId: getBanksUsingGET
      produces:
        - application/json
      parameters:
        - name: pagenumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 1
          format: int32
        - name: pagesize
          in: query
          description: Page size
          required: false
          type: integer
          default: 20
          format: int32 
        - name: supportedcurrencies
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BanksResponse'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0001"
                description: Page  is invalid
                field: page          
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - PartnerApiKey: []
  /banks/{bankId}:
    get:
      tags:
        - Bank Service
      summary: View Bank
      description: View Bank Details
      operationId: getBankUsingGET
      produces:
        - application/json
      parameters:
        - name: bankId
          in: path
          description: Bank id returned by Get Supported Banks endpoint.
          required: true
          type: string
      responses:
        501:
          description: Not implemented
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null                            
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - PartnerApiKey: []
  /payments:
    post:
      tags:
        - PISP Service
      summary: Create Payment
      description: Create a payment request POST endpoint
      operationId: createPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: paymentRequest
          description: Create a Payment Request
          required: true
          schema:
            $ref: '#/definitions/PaymentRequest'
        - name: Idempotency-Key
          in: header
          x-sentenial:
            enriched: "true"
          description: Every request will be processed only once per Idempotency-Key.  The Idempotency Key will be valid for 24 hours.
          required: false
          type: string
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/PaymentResponseEnvelope'
          examples:
            application/json:
              uri: /payments/lybo6jobqp
              data:
                id: lybo6jobqp
                uri: /payments/lybo6jobqp
                endToEndIdentification: endToEndIdentification
                debtorAccount:
                  identification: GB29NWBK60161331926819
                  name: null
                  schemeName: IBAN
                  secondaryIdentification: null
                risk:
                  paymentContextCode: Other
                  merchantCategoryCode: null
                  merchantCustomerIdentification: null
                  deliveryAddress: null
                remittanceInformation:
                  reference: ref-aa-01
                  unstructured: The Remittance Information
                status: PENDING_APPROVAL
                amount: 99.99
                currency: GBP
                countryCode: GB
                language: en
                email: client@example.com
                orderDetails:
                  items:
                    - name: Flights Outbound
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 30.00
                    - name: Discounts
                      description: null
                      quantity: null
                      amount: -5.00
                    - name: Total 
                      description: null
                      quantity: null
                      amount: 125.00
                integrationType: SELF_HOSTED
                merchantPostAuthUrl: https://merchant.openbanking.com/result
                bankId: lybo6jobqp
                aspspAuthUrl: https://any-aspsp.com/openbanking/authorize?response_type=code+id_token&scope=openid+payments&client_id=377aaa6a-70bf-4e95-ac19-2bac5270bacd&redirect_uri=https%3A%2F%2Fapi.nuapay.com%2Ftpp%2Fpayment-requests%2Foauth&state=df78b5f6-12c0-4646-b47c-4362217acb0a&nonce=bea92693-19da-4609-858e-86c79e908a08&request=eyJraWQiOiI2QlJZamgtc0VRUTNmNWlzc0lxWU9WNGNXdVUiLCJ0eXAiOiJKV1QiLCJhbGciOiJQUzI1NiJ9.eyJpc3MiOiIzNzdhYWE2YS03MGJmLTRlOTUtYWMxOS0yYmFjNTI3MGJhY2QiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsIm5vbmNlIjoiYmVhOTI2OTMtMTlkYS00NjA5LTg1OGUtODZjNzllOTA4YTA4IiwiY2xpZW50X2lkIjoiMzc3YWFhNmEtNzBiZi00ZTk1LWFjMTktMmJhYzUyNzBiYWNkIiwibWF4X2FnZSI6ODY0MDAsImF1ZCI6Imh0dHBzOlwvXC9hdXRob3Jpc2UtYXBpLmxsb3lkc2JhbmsuY28udWtcL3Byb2QwMVwvY2hhbm5lbFwvbHlkcyIsInNjb3BlIjoib3BlbmlkIHBheW1lbnRzIiwiY2xhaW1zIjp7InVzZXJpbmZvIjp7Im9wZW5iYW5raW5nX2ludGVudF9pZCI6eyJ2YWx1ZSI6IjY0YWQ5NWEwLWUzMWYtNGNiOC04NjM3LTdjOGRmOTc3MTJmOSIsImVzc2VudGlhbCI6dHJ1ZX19LCJpZF90b2tlbiI6eyJvcGVuYmFua2luZ19pbnRlbnRfaWQiOnsidmFsdWUiOiI2NGFkOTVhMC1lMzFmLTRjYjgtODYzNy03YzhkZjk3NzEyZjkiLCJlc3NlbnRpYWwiOnRydWV9LCJhY3IiOnsiZXNzZW50aWFsIjp0cnVlLCJ2YWx1ZXMiOlsidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwidXJuOm9wZW5iYW5raW5nOnBzZDI6Y2EiXX19fSwicmVkaXJlY3RfdXJpIjoiaHR0cHM6XC9cL2FwaS5udWFwYXkuY29tXC90cHBcL3BheW1lbnQtcmVxdWVzdHNcL29hdXRoIiwic3RhdGUiOiJkZjc4YjVmNi0xMmMwLTQ2NDYtYjQ3Yy00MzYyMjE3YWNiMGEiLCJleHAiOjE1NzU0NTg3MTYsImlhdCI6MTU3NTQ1ODQxNiwianRpIjoiNDQyYmY4N2YtYzIxNC00NjgxLTk3ODYtZjIwZGM1YjIzOWYxIn0.IyeHKQQeU6x32CdUllkskLFWEjkJZKzvp8D4ZOwtlN3v32qmbh4hkGtwNilqZetqqq1ESB1InzfyAlb5S3GyZ_1pTV5UmFqsY60w4jIvSVQXmxKyCYIDrdgTvfa3IYOtA3vStpRpnHyXZfke7mBLGM0nn3YLEmujQ88T1kzq8v9rKTUKwgAE-NYLsYnXNg8dNlrl_lvXVou-J26keS5EaYMVSwHRXcZ8Vp51Hro5L3Py5KyG270RL-7AfJCrEOcvwKbHWOYthoZj1FcuuJWoCT80H1rtkw80vI8QpaQHhp8xYOGft4n6uf2WBhUVb9eBrl9B0GtWe3opBeFXzOtKyg
                cutOffDateTime: null
                expectedExecutionDateTime: null
                expectedSettlementDateTime: null
                merchantId: gabxwwv2l5
                creationDateTime: 2020-03-04T16:00:08.717Z
                debtorBankName: Danske Sandbox
                multiAuthorisation:
                  status: null
                  numberRequired: null
                  numberReceived: null
                  lastUpdateDateTime: null
                  expirationDateTime: null
                links:
                  - id: lybo6jobqp
                    resourceType: refunds
                    uri: /payments/lybo6jobqp/refunds
                  - id: lybo6jobqp
                    resourceType: history
                    uri: /payment/lybo6jobqp/history
                  - id: lybo6jobqp
                    resourceType: audit
                    uri: /payments/lybo6jobqp/aspsp/audit
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0004"
                description: Field is invalid
                field: email
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        415:
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        422:
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0016"
                description: Amount has to be greater than 0.
                field: amount
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
  /payments/{paymentId}:
    get:
      tags:
        - PISP Service
      summary: Retrieve Payment
      description: GET Payment details endpoint
      operationId: getPaymentUsingGET
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment for which you want to retrieve details
          required: true
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaymentResponseEnvelope'
          examples:
            application/json:
              uri: /payments/lybo6jobqp
              data:
                id: lybo6jobqp
                uri: /payments/lybo6jobqp
                endToEndIdentification: endToEndIdentification
                debtorAccount:
                  identification: GB29NWBK60161331926819
                  name: null
                  schemeName: IBAN
                  secondaryIdentification: null
                risk:
                  paymentContextCode: Other
                  merchantCategoryCode: null
                  merchantCustomerIdentification: null
                  deliveryAddress: null
                remittanceInformation:
                  reference: ref-aa-01
                  unstructured: The Remittance Information
                status: PENDING_APPROVAL
                amount: 99.99
                currency: GBP
                countryCode: GB
                language: en
                email: client@example.com
                orderDetails:
                  items:
                    - name: Flights Outbound
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 50.00
                    - name: Flights Return
                      description: Dublin(DUB) to London(LCY) - Adult Fare
                      quantity: 2
                      amount: 30.00
                    - name: Discounts
                      description: null
                      quantity: null
                      amount: -5.00
                    - name: Total 
                      description: null
                      quantity: null
                      amount: 125.00
                integrationType: SELF_HOSTED
                merchantPostAuthUrl: https://merchant.openbanking.com/result
                bankId: lybo6jobqp
                aspspAuthUrl: https://any-aspsp.com/openbanking/authorize?response_type=code+id_token&scope=openid+payments&client_id=377aaa6a-70bf-4e95-ac19-2bac5270bacd&redirect_uri=https%3A%2F%2Fapi.nuapay.com%2Ftpp%2Fpayment-requests%2Foauth&state=df78b5f6-12c0-4646-b47c-4362217acb0a&nonce=bea92693-19da-4609-858e-86c79e908a08&request=eyJraWQiOiI2QlJZamgtc0VRUTNmNWlzc0lxWU9WNGNXdVUiLCJ0eXAiOiJKV1QiLCJhbGciOiJQUzI1NiJ9.eyJpc3MiOiIzNzdhYWE2YS03MGJmLTRlOTUtYWMxOS0yYmFjNTI3MGJhY2QiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsIm5vbmNlIjoiYmVhOTI2OTMtMTlkYS00NjA5LTg1OGUtODZjNzllOTA4YTA4IiwiY2xpZW50X2lkIjoiMzc3YWFhNmEtNzBiZi00ZTk1LWFjMTktMmJhYzUyNzBiYWNkIiwibWF4X2FnZSI6ODY0MDAsImF1ZCI6Imh0dHBzOlwvXC9hdXRob3Jpc2UtYXBpLmxsb3lkc2JhbmsuY28udWtcL3Byb2QwMVwvY2hhbm5lbFwvbHlkcyIsInNjb3BlIjoib3BlbmlkIHBheW1lbnRzIiwiY2xhaW1zIjp7InVzZXJpbmZvIjp7Im9wZW5iYW5raW5nX2ludGVudF9pZCI6eyJ2YWx1ZSI6IjY0YWQ5NWEwLWUzMWYtNGNiOC04NjM3LTdjOGRmOTc3MTJmOSIsImVzc2VudGlhbCI6dHJ1ZX19LCJpZF90b2tlbiI6eyJvcGVuYmFua2luZ19pbnRlbnRfaWQiOnsidmFsdWUiOiI2NGFkOTVhMC1lMzFmLTRjYjgtODYzNy03YzhkZjk3NzEyZjkiLCJlc3NlbnRpYWwiOnRydWV9LCJhY3IiOnsiZXNzZW50aWFsIjp0cnVlLCJ2YWx1ZXMiOlsidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwidXJuOm9wZW5iYW5raW5nOnBzZDI6Y2EiXX19fSwicmVkaXJlY3RfdXJpIjoiaHR0cHM6XC9cL2FwaS5udWFwYXkuY29tXC90cHBcL3BheW1lbnQtcmVxdWVzdHNcL29hdXRoIiwic3RhdGUiOiJkZjc4YjVmNi0xMmMwLTQ2NDYtYjQ3Yy00MzYyMjE3YWNiMGEiLCJleHAiOjE1NzU0NTg3MTYsImlhdCI6MTU3NTQ1ODQxNiwianRpIjoiNDQyYmY4N2YtYzIxNC00NjgxLTk3ODYtZjIwZGM1YjIzOWYxIn0.IyeHKQQeU6x32CdUllkskLFWEjkJZKzvp8D4ZOwtlN3v32qmbh4hkGtwNilqZetqqq1ESB1InzfyAlb5S3GyZ_1pTV5UmFqsY60w4jIvSVQXmxKyCYIDrdgTvfa3IYOtA3vStpRpnHyXZfke7mBLGM0nn3YLEmujQ88T1kzq8v9rKTUKwgAE-NYLsYnXNg8dNlrl_lvXVou-J26keS5EaYMVSwHRXcZ8Vp51Hro5L3Py5KyG270RL-7AfJCrEOcvwKbHWOYthoZj1FcuuJWoCT80H1rtkw80vI8QpaQHhp8xYOGft4n6uf2WBhUVb9eBrl9B0GtWe3opBeFXzOtKyg
                cutOffDateTime: null
                expectedExecutionDateTime: null
                expectedSettlementDateTime: null
                merchantId: gabxwwv2l5
                creationDateTime: 2020-03-04T16:00:08.717Z
                debtorBankName: Danske Sandbox
                multiAuthorisation: null
                links:
                  - id: lybo6jobqp
                    resourceType: refunds
                    uri: /payments/lybo6jobqp/refunds
                  - id: lybo6jobqp
                    resourceType: history
                    uri: /payment/lybo6jobqp/history
                  - id: lybo6jobqp
                    resourceType: audit
                    uri: /payments/lybo6jobqp/aspsp/audit
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
  /payment/{paymentId}/history:
    get:
      tags:
        - PISP Service
      summary: Retrieve Payment  History
      description: Retrieve Payment History
      operationId: getPaymentHistoryUsingGET
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment who's history you with to return
          required: true
          type: string        
        - name: pagenumber
          in: query
          description: Page number
          required: false
          type: integer
          default: 1
          format: int32
        - name: pagesize
          in: query
          description: Page size
          required: false
          type: integer
          default: 20
          format: int32 
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PaymentHistoryResponseEnvelope'
          examples:
            application/json:
              uri: /payment/ybo8zayk2q/history
              data:
                - status: PENDING
                  createDateTime: '2019-02-28T10:43:07+00:00'
                - status: PENDING_APPROVAL
                  createDateTime: '2019-02-28T10:44:07+01:00'
              page:
                pageNumber: 1
                pageSize: 10
                totalElements: 1
                totalPages: 1
              sort: null  
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0001"
                description: Page Number is invalid
                field: page          
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - MerchantApiKey: []
        - PartnerOAuth2:
          - openbanking_aisp
          - openbanking_pisp
        - PartnerApiKey: []
  /payments/{paymentId}/refunds:
    post:
      tags:
        - PISP Service
      summary: Refund Payment
      description: Refund a payment using POST
      operationId: refundPaymentUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: paymentId
          in: path
          description: The ID of the payment which you want to refund
          required: true
          type: string
        - in: body
          name: refundPaymentRequest
          description: Refund an exising payment
          required: true
          schema:
            $ref: '#/definitions/PaymentRefundRequest'
        - name: Idempotency-Key
          x-sentenial:
            enriched: true
          in: header
          description: Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.
          required: false
          type: string
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/PaymentRefundResponseEnvelope'
          examples:
            application/json:
              uri: /payments/ybo8zayk2q/refunds/azo4kal13b
              data:
               id: azo4kal13b
               uri: /payments/ybo8zayk2q/refunds/azo4kal13b
               creationDateTime: '2019-02-28T10:43:07.00Z'
               lastUpdateDateTime: '2019-02-28T10:43:07.00Z'
               status: REFUND_PENDING
               refundAmount: 100.01
               compensationAmount: 10.01
               currency: GBP
               remittanceInformation:
                 reference: reference
                 unstructured: unstructuredRemittanceInfo
               endToEndIdentification: endToEndIdentification
               errorDetails: null
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0004"
                description: Field is invalid
                field: email
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        415:
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null            
        422:
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: "T0000"
              returnDescription: Validation errors occurred. Please see details.
              details:
                code: "T0016"
                description: Amount has to be greater than 0.
                field: amount
        429:
          description: Too Many Requests
          x-sentenial:
            enriched: "true"
          headers:
            Retry-After:
              type: integer
              format: int32
              description: Number in seconds to wait
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            application/json:
              returnCode: null
              returnDescription: null
              details: null
      security:
        - MerchantApiKey:
          - openbanking_refund
        - MerchantApiKey: []
securityDefinitions:
  MerchantApiKey:
    type: basic
  PartnerApiKey:
    type: basic
  MerchantOAuth2:
    type: oauth2
    tokenUrl: https://api.nuapay.com/oauth/token_key
    flow: password
    scopes:
      openbanking_aisp: Account Information Service Provider access
      openbanking_pisp: Payment Initiation Service Provider access
      openbanking_pisp_read: Read Account and Payment Information access
      openbanking_refund: Payment refund access
  PartnerOAuth2:
    type: oauth2
    tokenUrl: https://api.nuapay.com/oauth/token_key
    flow: password
    scopes:
      openbanking_aisp: Account Information Service Provider access
      openbanking_pisp: Payment Initiation Service Provider access
      openbanking_pisp_read: Read Account and Payment Information access
      openbanking_refund: Payment refund access
definitions:
  RestResponseLink:
    type: object
    properties:
      id:
        type: string
      resourceType:
        type: string
      uri:
        type: string
    title: RestResponseLink
  Bank:
    type: object
    required:
      - supportedCurrencies
      - id
      - uri
      - logo
      - name
      - country
    properties:
      id:
        type: string
        description: The Banks Id
      uri:
        type: string
        description: Uri to Bank Resource
      name:
        type: string
        description: The Banks Name
      logo:
        type: string
        description: The Banks Logo http location
      supportedCurrencies:
        type: array
        description: Holds list of payment currencies that that the bank can process.
        items: 
          type: string
          description: ISO currency code. 
      country:
        type: string
        description: countryCode - ISO country code - indicates where the Bank is located (ISO 3166 Alpha-2)
    title: Bank
  BanksResponse:
    type: object
    required:
      - data
      - uri
      - page
      - sort
    properties:
      uri:
        type: string
        description: Holds queried resource uri.
      data:
        type: array
        description: Banks collection
        items:
          $ref: '#/definitions/Bank'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        items:
          type: string
    title: BanksResponse
    example:
      uri: /banks
      data: 
       -  id: 8ow24y2pdx
          uri: /banks/8ow24y2pdx
          name: Nuapay
          logo: https://www.nuapay.com/wp-content/uploads/2018/04/nuapay.svg
          supportedCurrencies:
          - GBP
          - EUR
          country: GB
      page:
        pageNumber: 1
        pageSize: 10
        totalElements: 1
        totalPages: 1
      sort: []  
  DebtorAccount:
    type: object
    required:
      - identification
      - schemeName
    properties:
      identification:
        type: string
        description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
        minLength: 1
        maxLength: 34
      name:
        type: string
        description: 'Name of the account, as assigned by the account servicing institution,
          in agreement with the account owner in order to provide an additional means
          of identification of the account. Usage: The account name is different from
          the account owner name. The account name is used in certain user communities
          to provide a means of identifying the account, in addition to the account
          ownerâ€™s identity and the account number.'
        minLength: 1
        maxLength: 70
      schemeName:
        type: string
        description: Name of the identification scheme, in a coded form as published in an external list.
        enum:
          - IBAN
          - SortCodeAccountNumber
      secondaryIdentification:
        type: string
        description: Identification assigned by an institution to identify an account.
          This identification is known by the account owner.
        minLength: 1
        maxLength: 34
    title: DebtorAccount
    description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
  DeliveryAddress:
    type: object
    required:
      - country
      - townName
    properties:
      addressLine:
        type: array
        description: Information that locates and identifies a specific address, as
          defined by postal services, that is presented in free format text.
        items:
          type: string
          minLength: 1
          maxLength: 70
        maxItems: 2
        minItems: 0
      streetName:
        type: string
        description: Name of a street or thoroughfare.
        minLength: 1
        maxLength: 70
      buildingNumber:
        type: string
        description: Number that identifies the position of a building on a street.
        minLength: 1
        maxLength: 16
      postCode:
        type: string
        description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
        minLength: 1
        maxLength: 16
      townName:
        type: string
        description: Name of a built-up area, with defined boundaries, and a local government.
        minLength: 1
        maxLength: 35
      countrySubDivision:
        type: array
        description: Identifies a subdivision of a country, for instance state, region,
          county.
        items:
          type: string
          minLength: 1
          maxLength: 35
        maxItems: 2
        minItems: 0
      country:
        type: string
        description: Nation with its own government, occupying a particular territory.
        pattern: ^[A-Z]{2,2}$
    title: DeliveryAddress
    description: Information that locates and identifies a specific address, as defined by postal services or in free format text.
  ErrorDetailsItem:
    type: object
    properties:
      code:
        type: string
        description: Error code
      description:
        type: string
        description: Error description
      field:
        type: string
        description: JSON path to request object property the error is related to
    title: ErrorDetailsItem
  ErrorResponse:
    type: object
    properties:
      details:
        type: array
        description: Holds list of input validation errors
        items:
          $ref: '#/definitions/ErrorDetailsItem'
      returnCode:
        type: string
        description: Error type code
      returnDescription:
        type: string
        description: Error type description
    title: ErrorResponse
  Items:
    type: object
    properties:
      name:
        type: string
        description: The name of the item being purchased by the PSU.
        minLength: 1
        maxLength: 35
      description:
        type: string
        description: Brief description of the item being purchased by the PSU
        minLength: 1
        maxLength: 254
      quantity:
        type: number
        minimum: 1
        description: Quantiy of the particular item being purchased by the PSU.
      amount:
        type: number
        description: Amount of payment in the specified currency at the specified rate.
        minimum: -999999999999.99
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
    title: Items
  MultiAuthorisation:
    type: object
    description: The multiple authorisation flow response from the ASPSP.
    properties:
      status:
        description: Specifies the status of the authorisation flow in code form.
        type: string
        enum:
          - AUTHORISED
          - AWAITING_FURTHER_AUTHORISATION
          - REJECTED
      numberRequired:
        description: Number of authorisations required for payment order (total required at
          the start of the multi authorisation journey).
        type: integer
        format: int32
      numberReceived:
        description: Number of authorisations required for payment order (total required at
          the start of the multi authorisation journey).
        type: integer
        format: int32
      lastUpdateDateTime:
        description: Last date and time at the authorisation flow was updated.
        type: string
        format: date-time
      expirationDateTime:
        description: Date and time at which the requested authorisation flow must be
          completed.
        type: string
        format: date-time
    required:
      - status
  OrderDetails:
    type: object
    description: Holds Order Details related to payment amount.
    properties:
      items:
        type: array
        description: Holds list of the line items to be returned to the TPP UI
        items:
          $ref: '#/definitions/Items'
    title: OrderDetails
  PaymentHistoryResponseEnvelope:
    type: object
    required:
      - data
      - uri
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/PaymentHistoryEvent'
      page:
        $ref: '#/definitions/RestResponsePaginationDetails'
      sort:
        type: array
        items:
          type: string
      uri:
        type: string
        description: resource Uri.
  PaymentHistoryEvent:
    type: object
    required:
        - status
        - createDateTime
    properties:
        status:
          type: string
          description: paymentStatus
          enum:
          - PENDING
          - TIMEOUT
          - CONSENT_API_REJECTED
          - PENDING_APPROVAL
          - OAUTH_CALLBACK_COMPLETE
          - AUTHORISED
          - DECLINED
          - CONSENT_TIMEOUT
          - SETTLEMENT_PENDING
          - SETTLEMENT_REJECTED
          - SETTLEMENT_IN_PROGRESS
          - SETTLEMENT_COMPLETE
          - UNEXPECTED_ERROR
          - UNKNOWN
          - PAYMENT_RECEIVED
        createDateTime:
          type: string
          format: date-time
          description: 'Date and time when a status has changed. All date-time fields in responses must include the timezone. An example is below: 2019-02-28T10:43:07+00:00'
  PaymentRequest:
    type: object
    required:
      - amount
      - countryCode
      - currency
    properties:
      amount:
        type: number
        description: amount
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
      currency:
        type: string
        description: transaction currency
        enum:
          - GBP
          - EUR
      countryCode:
        type: string
        description: countryCode - ISO country code - indicates where customer is
          domiciled (ISO 3166 Alpha-2)
        pattern: ^[A-Z]{2}$
      language:
        type: string
        description: 'the customers preferred language, defaults to en ISO 639-1:
            two-letter codes, one per language'
        pattern: ^[a-z]{2}$
      email:
        type: string
        description: Email address where payment status notifications will be sent
          to
        maxLength: 254
        pattern: .*@.*
      orderDetails:
        $ref: '#/definitions/OrderDetails'
      integrationType:
        type: string
        description: Allows to specify if the UI integration is done via Checkout or it is Self Hosted by the merchant.
        enum:
        - CHECKOUT
        - SELF_HOSTED
      merchantPostAuthUrl:
        type: string
        description: The merchant url to redirect PSU post authorization step
        minLength: 1
        maxLength: 255
      bankId:
        type: string
        description: The bank id returned by List Banks API. This is the bank where PSU holds its account
        minLength: 1
        maxLength: 10
      endToEndIdentification:
        type: string
        description:  Unique identification assigned by the initiating party to unambiguously identify the transaction.
        minLength: 1
        maxLength: 35
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
      debtorAccount:
        $ref: '#/definitions/DebtorAccount'
      risk:
        $ref: '#/definitions/Risk'
    title: PaymentRequest
    example:
      amount: 99.99
      countryCode: GB
      currency: GBP
      email: client@example.com
      language: en
      endToEndIdentification: endToEndIdentification
      remittanceInformation:
        reference: ref-aa-01
        unstructured: The Remittance Information
      orderDetails:
        items:
          - name: Flights Outbound
            description: Dublin(DUB) to London(LCY) - Adult Fare
            quantity: 2
            amount: 50.00
          - name: Flights Return
            description: Dublin(DUB) to London(LCY) - Adult Fare
            quantity: 2
            amount: 50.00
          - name: Flights Return
            description: Dublin(DUB) to London(LCY) - Adult Fare
            quantity: 2
            amount: 30.00
          - name: Discounts
            description: null
            quantity: null
            amount: -5.00
          - name: Total 
            description: null
            quantity: null
            amount: 125.00
      integrationType: SELF_HOSTED
      merchantPostAuthUrl: "https://merchant.openbanking.com/result"
      bankId: lybo6jobqp
      debtorAccount:
        identification: GB29NWBK60161331926819
        schemeName: IBAN
  PaymentResponse:
    type: object
    required:
      - amount
      - countryCode
      - currency
      - id
      - uri
      - status
    properties:
      id:
        type: string
        description: id, this is used to get updates on the payment
      uri:
        type: string
        description: location of the resource
      status:
        type: string
        description: paymentStatus, the latest payment status
        enum:
          - PENDING
          - PENDING_APPROVAL
          - OAUTH_CALLBACK_COMPLETE
          - AUTHORISED
          - DECLINED
          - SETTLEMENT_REJECTED
          - SETTLEMENT_PENDING
          - SETTLEMENT_IN_PROGRESS
          - SETTLEMENT_COMPLETE
          - PAYMENT_RECEIVED
          - CONSENT_API_REJECTED
          - TIMEOUT
          - CONSENT_TIMEOUT
          - UNEXPECTED_ERROR
          - UNKNOWN
      amount:
        type: number
        description: amount
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
      currency:
        type: string
        description: transaction currency
        enum:
          - GBP
          - EUR
      countryCode:
        type: string
        description: countryCode - ISO country code - indicates where customer is domiciled (ISO 3166 Alpha-2)
        pattern: ^[A-Z]{2}$
      language:
        type: string
        description: 'the customers preferred language, defaults to en ISO 639-1:
          two-letter codes, one per language'
        pattern: ^[a-z]{2}$
      email:
        type: string
        description: Email address where payment status notifications will be sent to
        maxLength: 254
        pattern: .*@.*
      orderDetails:
        description: Holds Order Details related to payment amount.
        $ref: '#/definitions/OrderDetails'
      integrationType:
        type: string
        description: Allows to specify if the UI integration is done via Checkout or it is Self Hosted by the merchant.
        enum:
        - CHECKOUT
        - SELF_HOSTED
      merchantPostAuthUrl:
        type: string
        description: The merchant url to redirect PSU post authorization step
        minLength: 1
        maxLength: 255
      bankId:
        type: string
        description: The bank id returned by List Banks API. This is the bank where PSU holds its account
        minLength: 1
        maxLength: 10
      aspspAuthUrl:
        type: string
        description: The ASPSP url to redirect the PSU to for authorization of the payment.
        minLength: 1
        maxLength: 2048
      endToEndIdentification:
        type: string
        description:  Unique identification assigned by the initiating party to unambiguously identify the transaction. 
        minLength: 1
        maxLength: 35
      debtorAccount:
        $ref: '#/definitions/DebtorAccount'
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
      risk:
        $ref: '#/definitions/Risk'
      cutOffDateTime:
        type: string
        format: date-time
        description: Specified cut-off date and time for the payment consent.
      expectedExecutionDateTime:
        type: string
        format: date-time
        description: Expected execution date and time for the payment resource.
      expectedSettlementDateTime:
        type: string
        format: date-time
        description: Expected settlement date and time for the payment resource.
      multiAuthorisation:
        $ref: '#/definitions/MultiAuthorisation'
    title: PaymentResponse
  PaymentResponseEnvelope:
    type: object
    required:
      - data
      - uri
    properties:
      uri:
        type: string
        description: Holds resource uri.
      data:
        $ref: '#/definitions/PaymentResponse'
    title: PaymentResponseEnvelope
    example:
      uri: /payments/lybo6jobqp
      data:
        id: lybo6jobqp
        uri: /payments/lybo6jobqp
        endToEndIdentification: endToEndIdentification
        debtorAccount:
          identification: GB29NWBK60161331926819
          name: null
          schemeName: IBAN
          secondaryIdentification: null
        risk:
          paymentContextCode: Other
          merchantCategoryCode: null
          merchantCustomerIdentification: null
          deliveryAddress: null
        remittanceInformation:
          reference: ref-aa-01
          unstructured: The Remittance Information
        status: PENDING_APPROVAL
        amount: 99.99
        currency: GBP
        countryCode: GB
        language: en
        email: client@example.com
        orderDetails:
          items:
            - name: Flights Outbound
              description: Dublin(DUB) to London(LCY) - Adult Fare
              quantity: 2
              amount: 50.00
            - name: Flights Return
              description: Dublin(DUB) to London(LCY) - Adult Fare
              quantity: 2
              amount: 50.00
            - name: Flights Return
              description: Dublin(DUB) to London(LCY) - Adult Fare
              quantity: 2
              amount: 30.00
            - name: Discounts
              description: null
              quantity: null
              amount: -5.00
            - name: Total
              description: null
              quantity: null
              amount: 125.00
        integrationType: SELF_HOSTED
        merchantPostAuthUrl: https://merchant.openbanking.com/result
        bankId: lybo6jobqp
        aspspAuthUrl: https://any-aspsp.com/openbanking/authorize?response_type=code+id_token&scope=openid+payments&client_id=377aaa6a-70bf-4e95-ac19-2bac5270bacd&redirect_uri=https%3A%2F%2Fapi.nuapay.com%2Ftpp%2Fpayment-requests%2Foauth&state=df78b5f6-12c0-4646-b47c-4362217acb0a&nonce=bea92693-19da-4609-858e-86c79e908a08&request=eyJraWQiOiI2QlJZamgtc0VRUTNmNWlzc0lxWU9WNGNXdVUiLCJ0eXAiOiJKV1QiLCJhbGciOiJQUzI1NiJ9.eyJpc3MiOiIzNzdhYWE2YS03MGJmLTRlOTUtYWMxOS0yYmFjNTI3MGJhY2QiLCJyZXNwb25zZV90eXBlIjoiY29kZSBpZF90b2tlbiIsIm5vbmNlIjoiYmVhOTI2OTMtMTlkYS00NjA5LTg1OGUtODZjNzllOTA4YTA4IiwiY2xpZW50X2lkIjoiMzc3YWFhNmEtNzBiZi00ZTk1LWFjMTktMmJhYzUyNzBiYWNkIiwibWF4X2FnZSI6ODY0MDAsImF1ZCI6Imh0dHBzOlwvXC9hdXRob3Jpc2UtYXBpLmxsb3lkc2JhbmsuY28udWtcL3Byb2QwMVwvY2hhbm5lbFwvbHlkcyIsInNjb3BlIjoib3BlbmlkIHBheW1lbnRzIiwiY2xhaW1zIjp7InVzZXJpbmZvIjp7Im9wZW5iYW5raW5nX2ludGVudF9pZCI6eyJ2YWx1ZSI6IjY0YWQ5NWEwLWUzMWYtNGNiOC04NjM3LTdjOGRmOTc3MTJmOSIsImVzc2VudGlhbCI6dHJ1ZX19LCJpZF90b2tlbiI6eyJvcGVuYmFua2luZ19pbnRlbnRfaWQiOnsidmFsdWUiOiI2NGFkOTVhMC1lMzFmLTRjYjgtODYzNy03YzhkZjk3NzEyZjkiLCJlc3NlbnRpYWwiOnRydWV9LCJhY3IiOnsiZXNzZW50aWFsIjp0cnVlLCJ2YWx1ZXMiOlsidXJuOm9wZW5iYW5raW5nOnBzZDI6c2NhIiwidXJuOm9wZW5iYW5raW5nOnBzZDI6Y2EiXX19fSwicmVkaXJlY3RfdXJpIjoiaHR0cHM6XC9cL2FwaS5udWFwYXkuY29tXC90cHBcL3BheW1lbnQtcmVxdWVzdHNcL29hdXRoIiwic3RhdGUiOiJkZjc4YjVmNi0xMmMwLTQ2NDYtYjQ3Yy00MzYyMjE3YWNiMGEiLCJleHAiOjE1NzU0NTg3MTYsImlhdCI6MTU3NTQ1ODQxNiwianRpIjoiNDQyYmY4N2YtYzIxNC00NjgxLTk3ODYtZjIwZGM1YjIzOWYxIn0.IyeHKQQeU6x32CdUllkskLFWEjkJZKzvp8D4ZOwtlN3v32qmbh4hkGtwNilqZetqqq1ESB1InzfyAlb5S3GyZ_1pTV5UmFqsY60w4jIvSVQXmxKyCYIDrdgTvfa3IYOtA3vStpRpnHyXZfke7mBLGM0nn3YLEmujQ88T1kzq8v9rKTUKwgAE-NYLsYnXNg8dNlrl_lvXVou-J26keS5EaYMVSwHRXcZ8Vp51Hro5L3Py5KyG270RL-7AfJCrEOcvwKbHWOYthoZj1FcuuJWoCT80H1rtkw80vI8QpaQHhp8xYOGft4n6uf2WBhUVb9eBrl9B0GtWe3opBeFXzOtKyg
        cutOffDateTime: null
        expectedExecutionDateTime: null
        expectedSettlementDateTime: null
        merchantId: gabxwwv2l5
        creationDateTime: 2020-03-04T16:00:08.717Z
        debtorBankName: Danske Sandbox
        multiAuthorisation:
          status: null
          numberRequired: null
          numberReceived: null
          lastUpdateDateTime: null
          expirationDateTime: null
  PaymentRefundRequest:
    type: object
    required:
      - refundAmount
      - currency
    properties:
      refundAmount:
        type: number
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
      compensationAmount:
        type: number
        minimum: 0.01
        maximum: 999999999999.99
        exclusiveMinimum: false
        exclusiveMaximum: false
      currency:
        type: string
        description: Transaction currency, must match original payment currency
        enum:
          - GBP
          - EUR   
      endToEndIdentification:
        type: string
        description:  Unique identification assigned by the initiating party to unambiguously identify the transaction. 
        minLength: 1
        maxLength: 35      
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
  PaymentRefundResponseEnvelope:
    type: object
    required:
      - data
      - uri
    properties:
      uri:
        type: string
        description: Holds resource uri.
      data:
        $ref: '#/definitions/PaymentRefundResponse'
    title: refundPaymentResponseEnvelope
    example:
      uri: /payments/ybo8zayk2q/refunds/azo4kal13b
      data:
        id: azo4kal13b
        uri: /payments/ybo8zayk2q/refunds/azo4kal13b
        creationDateTime: '2019-02-28T10:43:07.00Z'
        lastUpdateDateTime: '2019-02-28T10:43:07.00Z'      
        reference: reference
        status: REFUND_PENDING
        refundAmount: 100.01
        compensationAmount: 10.01
        currency: GBP
        remittanceInformation:
          unstructured: unstructuredRemittanceInfo
  PaymentRefundResponse:
    type: object
    required:
      - refundAmount
      - currency
      - id
      - uri
      - reference
      - status
      - creationDateTime
    properties:
      id:
        type: string
        description: id, this is used to get updates on the payment
      uri:
        type: string
        description: Holds resource uri.
      creationDateTime:
        type: string
        format: date-time
        description: 'Date and time when refund was created. All date-time fields in responses must include the timezone. An example is below: 2019-02-28T10:43:07+00:00'
      lastUpdateDateTime:
        type: string
        format: date-time
        description: 'Date and time when refund was last updated. All date-time fields in responses must include the timezone. An example is below: 2019-02-28T10:43:07+00:00'
      status:
        type: string
        description: paymentStatus, the latest payment status
        enum:
          - REFUND_PENDING
          - REFUND_COMPLETE
          - REFUND_REJECTED
      refundAmount:
        type: number
        description: amount
        minimum: 0.01
        maximum: 999999999999.99
      compensationAmount:
        type: number
        description: amount
        minimum: 0.01
        maximum: 999999999999.99
      currency:
        type: string
        description: transaction currency
        enum:
          - GBP
          - EUR
      remittanceInformation:
        $ref: '#/definitions/RemittanceInformation'
      endToEndIdentification:
        type: string
        description:  Unique identification assigned by the initiating party to unambiguously identify the transaction.
        maxLength: 35
      errorDetails:
        type: array
        description: List of error codes associated to the refund request
        items: 
          type: string
          description: Payment error code(s)
    title: PaymentRefundResponse
  RemittanceInformation:
    type: object
    properties:
      reference:
        type: string
        description: 'Unique reference, as assigned by the creditor, to unambiguously
          refer to the payment transaction.  Usage: If available, the initiating party
          should provide this reference in the structured remittance information,
          to enable reconciliation by the creditor upon receipt of the amount of money.
          If the business context requires the use of a creditor reference or a payment
          remit identification, and only one identifier can be passed through the
          end-to-end chain, the creditorâ€™s reference or payment remittance identification
          should be quoted in the end-to-end transaction identification. OB: The Faster
          Payments Scheme can only accept 18 characters for the ReferenceInformation
          field - which is where this ISO field will be mapped.'
        minLength: 1
        maxLength: 35
      unstructured:
        type: string
        description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accountsâ€™ receivable system, in an unstructured form.
        minLength: 1
        maxLength: 140
    title: RemittanceInformation
    description: Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accountsâ€™ receivable system.
  RestResponsePaginationDetails:
    type: object
    properties:
      pageNumber:
        type: integer
        format: int32
        description: Page Number
      pageSize:
        type: integer
        format: int32
        description: Page Size
      totalElements:
        type: integer
        format: int32
        description: Total Number of elements returned. Response parameter only
      totalPages:
        type: integer
        format: int32
        description: Total Number of pages returned. Response parameter only
  Risk:
    type: object
    properties:
      paymentContextCode:
        type: string
        description: Specifies the payment context.
        enum:
          - BillPayment
          - EcommerceGoods
          - EcommerceServices
          - Other
          - PartyToParty
      merchantCategoryCode:
        type: string
        description: Category code conforms to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
        minLength: 3
        maxLength: 4
      merchantCustomerIdentification:
        type: string
        description: The unique customer identifier of the PSU with the merchant.
        minLength: 1
        maxLength: 70
      deliveryAddress:
        $ref: '#/definitions/DeliveryAddress'
    title: Risk
    description: Risk
